# Python
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
env/
*.env
.caption_env

# VS Code
.vscode/

# Data directories (DO NOT UPLOAD VOC DATA)
data/*

# But allow processed folder
!data/processed/

# Don't upload model weights
checkpoints/
*.pt

misc.txt
